.buttonFormBack {
    display: inline-block;
    border-radius: 4px;
    background-color: #5891ff;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .buttonFormBack span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonFormBack span:after {
    content: "«"; /* Cambiamos la flecha a "«" para retroceder */
    position: absolute;
    opacity: 0;
    top: 0;
    left: -15px; /* Ajustamos la posición izquierda */
    transition: 0.5s;
  }
  
  .buttonFormBack:hover span {
    padding-left: 15px; /* Cambiamos el padding a la izquierda */
  }
  
  .buttonFormBack:hover span:after {
    opacity: 1;
    left: 0; /* Ajustamos la posición izquierda */
  }
  