.location{
    height: 100vh;
    width: 100%;
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.location-dark{
    background-color: #2a2a2a;
    color: #fff;
}

.cardLocation__content, .cardLocation__items{
    color: #fff;
}

.section__title{
    font-size: 46px;
    font-weight: 500;
}

.map__container{
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
}

.location__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}