.location{
    height: 100vh;
    width: 100%;
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.location-dark{
    background-color: #2a2a2a;
    color: #fff;
}

.cardLocation__content, .cardLocation__items{
    color: #fff;
}

.section__title{
    font-size: 46px;
    font-weight: 500;
}

.map__container{
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
}

.location__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 430px) {
    .location{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .section__title{
        font-size: 30px;
    }
    .location__container{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }
    .map__container{
        width: 100%;
        height: 50%;
    }
}

@media screen and (min-width: 430px) and (max-width: 768px) {
    .location{
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .section__title{
        font-size: 45px;
    }
    .location__container{
        display: flex;
        flex-direction: column-reverse;
    }
    .map__container{
        width: 90%;
        height: 50%;
    }
}