.footer{
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 32px 12px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-dark{
    background-color: #2a2a2a;
    color: #fff;
}

.brands-logos{
    height: 40px;
}

.footer-logo{
    height: 100px;
}

.footer__center{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer__brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    width: 100%;
}

.brand span{
    font-size: 32px;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.colaborators{
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.contact{
    height: 90%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.contact-dark{
    background-color: #333333;
}

.menu-footer{
    height: 90%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.menu-footer__items{
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-footer__items a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer-logo__name{
    font-size: 44px;
    font-weight: 700;
}

@media screen and (max-width: 430px) {
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
    }
    .menu-footer{
        width: 100%;
        height: 30%;
    }
    .footer__center{
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 40%;
    }
    .footer-logo__name{
        font-size: 32px;
    }
    .footer-logo{
        height: 75px;
    }
    .colaborators{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;
        align-items: center;
        width: 90%;
    }
    .brands-logos{
        height: 30px;
    }
    .contact{
        height: 30%;
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 80%;
    }
}